

ul {  
    list-style-type: none;  
}    


 .boo-app{
    width: 1920;
    display: flex;
 }



 /******************************
 *******************************
 ********UTILITY CLASS**********
 ******************************/


 .debug-app{
    padding: 20px;
    border: 2px solid yellow;
 }



.font_24{
    font-size: 24px;
}

.bs_clr_wh{
    color: white;
}

 /******************************
 *******************************
 *************HEADER************
 ******************************/

 .header_app{
    position: sticky;
    padding: 40px 0;
  }

.bs_fnt_sx{
   min-width: 160px;
   padding-left: 10px;
   margin-top: 10px;
}


 /******************************
 *******************************
 ***********MAIN APP************
 ******************************/


 .main_app{

}















 /******************************
 *******************************
 *********SIDE LòATERALE********
 ******************************/



 .side_app{
    min-width: 150px;
    min-height: 1090px;
 }


.bs_m-t{
    margin-top: 800px;
}


.bs_bkg{
    background-color: #13293F;
}




























 /******************************
 *******************************
 *****CONTENUTO PRINCIPALE******
 ******************************/


.header_hero{
  background-color: #1B72E8;
}























