
ul {  
    list-style-type: none;  
}    

 .boo-app{
    width: 1920;
    display: flex;
 }

 /******************************
 *******************************
 ********UTILITY CLASS**********
 ******************************/


 .debug-app{
    padding: 20px;
    border: 2px solid yellow;
 }

.bs_ml_70 {
  margin-left: 70px;
}
.bs_ml_10 {
    margin-left: 10px;
  }

  .bs_padd_y {
    padding: 20px 0;
  }

 


 .font_15 {
    font-size: 15px;
}

.font_22 {
    font-size: 22px;
}

 


.font_24 {
    font-size: 24px;
}

.font_28 {
    font-size: 28px;
}

.font_40 {
    font-size: 40px;
}


.font_50 {
    font-size: 50px;
}

.bs_clr_wh {
    color: white;
}




 /******************************
 *******************************
 ***********MAIN APP************
 ******************************/


 .main_app{

}


 /******************************
 *******************************
 *************HEADER************
 ******************************/

 .header_app{
    position: sticky;
    padding: 40px 0;
  }

.bs_fnt_sx{
   min-width: 160px;
   padding-left: 10px;
   margin-top: 10px;
}





 /******************************
 *******************************
 *********SIDE LòATERALE********
 ******************************/



 .side_app{
    min-width: 150px;
    min-height: 1090px;
 }


.bs_m-t{
    margin-top: 800px;
}


.bs_bkg{
    background-color: #13293F;
}




 /******************************
 *******************************
 *****CONTENUTO PRINCIPALE******
 ******************************/


.header_hero{
  background-color: #1B72E8;
}


.bs_bage {
   background-color: rgba(0, 0, 255, 0.672);
   color: white;
   padding: 7px 10px;
   border-radius: 90px;

}

.bs_pr_r { 
  padding-right: 10px;
}

.bs_pd {
   padding-bottom: 10px;
}

.bs_offcanvas {
    width: 600px !important;
}

.bs_btn_s {
    width: 80px;
}

.bs_bck_b2 {
    background-color: rgb(255, 179, 0);
}



/* CARD CARD CARD >>>>>>>>>>>>>>>>>>>*/
/* CARD CARD CARD >>>>>>>>>>>>>>>>>>>*/
/* CARD CARD CARD >>>>>>>>>>>>>>>>>>>*/

.bs_icon_card {
    background-color: rgb(255, 79, 35);
    color: white;
    border-radius: 50%;
    padding: 7px;
}


.bs_fnt_s {
    font-size: 20px;
}
.font_22_card{
   font-size: 22px;
}

.bs_brd_t {
    border-top: 5 px solid black;
}

.bs_brd_b {
    border-bottom: 5 px solid black;
}


.bs_bage_done {
    background-color: rgb(0, 70, 0);
    color: white;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 90px;
 
 }

.bs_border {
    border: 2px solid black;
    padding: 2px;
}

/* CARD CARD CARD >>>>>>>RESPONSIVE>>>>>>>>>>>>*/
/* CARD CARD CARD >>>>>>>RESPONSIVE>>>>>>>>>>>>*/
/* CARD CARD CARD >>>>>>>RESPONSIVE>>>>>>>>>>>>*/

@media only screen and (max-width: 1950px ){


    .font_22_card{
        font-size: 18px;
     }


    .bs_fnt_s{
        font-size: 18px;
    }

}


@media only screen and (max-width: 1500px ){


    .font_22_card{
        font-size: 13px;
     }


    .bs_fnt_s{
        font-size: 18px;
    }

}


@media only screen and (max-width: 1300px ){


    .font_22_card{
        font-size: 18px;
     }


    .bs_fnt_s{
        font-size: 18px;
    }

}


@media only screen and (max-width: 1100px ){


    .font_22_card{
        font-size: 3px !important;
     }


    .bs_fnt_s{
        font-size: 5px !important;
    }

    .bs_bage_done {
        background-color: rgb(0, 70, 0);
        color: white;
        font-size: 5px;
        padding: 3px 6px;
        border-radius: 90px;
     
     }

}

@media only screen and (max-width: 576px ){


    .bs_icon_card {
        padding: 0px;
        padding: 0;

    }



    .font_22_card{
        font-size: 5px;
     }


    .bs_fnt_s{
        font-size: 7px;
    }

    .bs_bage_done {
        background-color: rgb(0, 70, 0);
        color: white;
        font-size: 7px;
        padding: 3px 6px;
        border-radius: 90px;
     
     }
     

     .py-2 .px-3{
        margin: 0;
     }
}